{# templates/list/index.html.twig #}
{% extends 'admin/base.html.twig' %}
{% block body %}
    <form action="{{ path('admin_user_edit')}}" method="post">

    <div class="row">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username" {% if user is not null %} value="{{ user.name }}" {% endif %}>
                </div>
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter email" {% if user is not null%} value="{{ user.email }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" name="fname" placeholder="Enter First Name" {% if user is not null%} value="{{ user.fname }}" {% endif %}>
                </div>

                <div class="form-group col-6">
                    <label for="exampleInputEmail1">Family Name</label>
                    <input type="text" class="form-control" name="lname" placeholder="Enter Family Name" {% if user is not null%} value="{{ user.lname }}" {% endif %}>
                </div>
            </div>
            {% if user is null %}
            <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" >
                </div>
                <div class="form-group col-6">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="repeatPassword" placeholder="Repeat Password" >
                </div>
            </div>
            {% else %}
                <input type="hidden" class="form-control" name="id" value="{{ user.id }}">
            {% endif %}

        </div>

    </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}